/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", monospace;
}

main {
    display: flex;
    justify-content: center;
    margin-left: 13rem;
}

header img {
    padding-top: 8rem;
    font-family: "Courier Prime", monospace;
}

header,
header p {
    text-align: center;
}

header p {
    margin-bottom: 5rem;
}

/*  */

/* section one */
.sectionOne {
    float: left;
    padding: 1rem 2rem;
    color: #757575;
    font-size: 1rem;
    width: 300px;
    position: relative;
    right: 10rem;
}

.sectionOne p:first-child {
    margin-bottom: 1.5rem;
    width: 450px;
}

.sectionTwo {
    position: relative;
    top: 2rem;
    right: 10.5rem;
}

input[type="email"] {
    position: relative;
    bottom: 8px;
    left: 5px;
}

input[type="checkbox"] {
    position: relative;
    top: 6rem;
    left: 5px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: .2rem;
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

input[type="checkbox"]:checked +::after {
    background-color: red;
}
button {
    font-family: "Courier Prime", monospace;
    background-color: red;
    border: none;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 10rem;

}

/* outline: none; */
.sectionTwo input[type="email"]:focus {
    outline: none;

}
/*  */
.sectionTwo input[type="text"],
.sectionTwo input[type="email"],
.sectionTwo select,
.sectionTwo textarea,
textarea {
    font-family: "Courier Prime", monospace;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: .2rem;
    padding: 8px;
}









/* #region FOOTER */
.list {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8rem;
    left: 30%;
}

.list li {
    list-style-type: none;
    margin-right: 1rem;

}

.list li a {
    color: #757575;
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-weight: 100;
    font-size: .8rem;
    letter-spacing: 1px;
}

.list li:nth-child(9),
.list li:nth-child(10),
.list li:nth-child(11) {
    margin-top: 3.5rem;
    margin-left: .5rem;
}

/* hover effects */
/* LIST HOVER */
.list li a {
    background-color: transparent;
    border-radius: .15rem;
    transition: 400ms ease;
}

.list li a:hover {
    background-color: red;
}

/* #endregion FOOTER */