/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    /* background-image: url(); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* background-size: 126rem; */
    /* background-position-x: -100px; */
    font-family: "Courier Prime", monospace;
    transition: 400ms;

}

/* #region HEADER */
main {
    display: flex;
    justify-content: center;
    margin-left: 13rem;
}

header img {
    padding-top: 8rem;
    font-family: "Courier Prime", monospace;
}

header,
header p {
    text-align: center;
}
/* #endregion HEADER */
header p {
    margin-bottom: 5rem;
}

/* section one */
.sectionOne {
    float: left;
    padding: 1rem 2rem;
    transition: 300ms ease;
}
/* image carousel */
.carousel-container { /* SECTION ONE */
    position: relative;
    left: 4rem;
    bottom: 2rem;
    width: 260px;
    margin: 0 auto;
    
  }

  .carousel {
    display: flex;
    overflow-x: hidden;
  }

  .carousel img {
    width: 100%;
    height: auto;
  }
  /* button */
  .carousel-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  #next-btn, #prev-btn{
    position: relative;
    left: 0rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  #next-btn img , #prev-btn img{
    width: 20px;
  }
  #prev-btn {
    position: relative;
    left: 0;
  }

  .page-counter {
    width: 100px;
    text-align: center;
  }




/* section two */
.sectionTwo {
    float: right;
    padding: 1rem 2rem;
    position: relative;
    bottom: 3rem;
    right: 25rem;
}
.sectionTwo header p, .sectionTwo header h1{
    /* background-color: red; */
    text-align: left;
    margin: 0;
    font-size: small;
    font-weight: 100;
    width: 500px;
}
.sectionTwo header h1{
    font-size: 1rem;
    letter-spacing: 2px;
    width: 300px;
}

.scrollable-paragraph {
    width: 300px; 
    height: 275px; 
    overflow-y: scroll;
    border: none;
  }
.scrollable-paragraph p{
    font-size: .8rem;
}
.archive{
    position: relative;
    top: 2rem;
}
.archive a{
    font-size: .9rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-radius: .15rem;
    transition: 400ms ease;
}



/* #region FOOTER */
.list {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8rem;
    left: 30%;
}

.list li {
    list-style-type: none;
    margin-right: 1rem;

}

.list li a {
    color: #757575;
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-weight: 100;
    font-size: .8rem;
    letter-spacing: 1px;
}

.list li:nth-child(9),
.list li:nth-child(10),
.list li:nth-child(11) {
    margin-top: 3.5rem;
    margin-left: .5rem;
}

/* hover effects */
/* LIST HOVER */
.list li a {
    background-color: transparent;
    border-radius: .15rem;
    transition: 400ms ease;
}

.list li a:hover,.archive a:hover {
    background-color: red;
    color: #fff;
}

/* #endregion FOOTER */